<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.authority.mapper.SysAclMapper">
    <resultMap id="sysAcl" type="com.authority.model.db.SysAcl">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="acl_module_id" property="aclModuleId"/>
        <result column="url" property="url"/>
        <result column="type" property="type"/>
        <result column="status" property="status"/>
        <result column="seq" property="seq"/>
        <result column="remark" property="remark"/>
        <result column="operator" property="operator"/>
        <result column="operate_time" property="operateTime"/>
        <result column="operate_ip" property="operateIp"/>
    </resultMap>

    <insert id="insert" parameterType="com.authority.model.db.SysAcl"
            useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO sys_acl (code, name, acl_module_id, url, type, status, seq, remark, opertor, operate_time, operate_ip)
        VALUES (#{code}, #{name}, #(aclModuleId), #{url}, ${type}, #{status}, #{seq}, #{remark},
              #{operator}, #{operateTime}, #{operateId})
    </insert>
    <update id="update" parameterType="com.authority.model.db.SysAcl">
        UPDATE sys_acl SET
        <if test="name != null and name != ''">
            AND name = #{name}
        </if>
        <if test="aclModuleId != null and aclModuleId > 0">
            AND aclModule_id = #{aclModuleId}
        </if>
        <if test="type != null and type > 0">
            AND type = #{type}
        </if>
        <if test="seq != null and seq > 0">
            AND seq = #{seq}
        </if>
        <if test="status != null and status > 0">
            AND status = #{status}
        </if>
        <if test="remark != null and remark != ''">
            AND remark = #{remark}
        </if>
        <if test="operator != null and operator != ''">
            AND operator = #{operator}
        </if>
        <if test="operateTime != null">
            AND operate_time = #{operateTime}
        </if>
        <if test="operateIp != null and operateId != ''">
            AND operate_id = #{operateId}
        </if>
        WHERE id = #{id}
    </update>

    <delete id="deleteByIds" parameterType="java.util.List">
        DELETE FROM sys_acl WHERE id IN
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
    <select id="findById" resultMap="sysAcl">
        SELECT id, code, name, acl_module_id, url, type, status, seq, remark, opertor, operate_time, operate_ip
        FROM sys_acl
        WHERE id = #{id}
    </select>

    <select id="findAll" resultMap="sysAcl">
        SELECT id, code, name, acl_module_id, url, type, status, seq, remark, opertor, operate_time, operate_ip
        FROM sys_acl
    </select>

</mapper>