<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.authority.mapper.SysDeptMapper">
    <resultMap id="sysDept" type="com.authority.model.db.SysDept">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="parent_id" property="parentId"/>
        <result column="level" property="level"/>
        <result column="seq" property="seq"/>
        <result column="remark" property="remark"/>
        <result column="operator" property="operator"/>
        <result column="operate_time" property="operateTime"/>
        <result column="operate_ip" property="operateIp"/>
    </resultMap>

    <insert id="insert" parameterType="com.authority.model.db.SysDept"
            useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO sys_dept (name, parent_id, level, seq, remark, operator, operate_time, operate_ip)
        VALUES (#{name}, #{parentId}, #{level}, #{seq}, #{remark}, #{operator},
              #{operateTime}, #{operateIp})
    </insert>

    <update id="update" parameterType="com.authority.model.db.SysDept">
        UPDATE sys_dept SET
        <if test="name != null and name != ''">
            AND name = #{name}
        </if>
        <if test="parentId != null and parentId > 0">
            AND parent_id = #{parentId}
        </if>
        <if test="level != null and level != ''">
            AND level = #{level}
        </if>
        <if test="seq != null and seq > 0">
            AND seq = #{seq}
        </if>
        <if test="remark != null and remark != ''">
            AND remark = #{remark}
        </if>
        <if test="operator != null and operator != ''">
            AND operator = #{operator}
        </if>
        <if test="operateTime != null">
            AND operate_time = #{operateTime}
        </if>
        <if test="operateIp != null and operateId != ''">
            AND operate_id = #{operateId}
        </if>
        WHERE id = #{id}
    </update>

    <update id="batchUpdateLevel" parameterType="java.util.List">
        <foreach collection="list" item="item" separator=";">
            UPDATE sys_dept
            SET level = #{item.level}
            WHERE id = #{item.id}
        </foreach>
    </update>

    <delete id="deleteByIds" parameterType="java.util.List">
        DELETE FROM sys_dept WHERE id IN
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <select id="findById" resultMap="sysDept">
        SELECT id, name, parent_id, level, seq, remark, operator, operate_time, operate_ip
        FROM sys_dept
        WHERE id = #{id}
    </select>

    <select id="findAll" resultMap="sysDept">
        SELECT id, name, parent_id, level, seq, remark, operator, operate_time, operate_ip
        FROM sys_dept
    </select>

    <select id="findByName" resultMap="sysDept">
        SELECT id, name, parent_id, level, seq, remark, operator, operate_time, operate_ip
        FROM sys_dept
        WHERE name = #{name}
    </select>

    <select id="getChildDeptListByLevel" resultMap="sysDept">
        SELECT id, name, parent_id, level, seq, remark, operator, operate_time, operate_ip
        FROM sys_dept
        WHERE level like #{level} || '.%' -- level like '0.%'
    </select>

    <select id="countByNameAndParentId" resultType="java.lang.Integer">
        SELECT count(id)
        FROM sys_dept
        WHERE parent_id = #{parentId} AND name = #{name}
        <if test="id != null and id > 0">
            AND id != #{id}
        </if>
    </select>

</mapper>