<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.authority.mapper.SysUserMapper">
    <resultMap id="sysUser" type="com.authority.model.db.SysUser">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="phone_no" property="phoneNo"/>
        <result column="mail" property="mail"/>
        <result column="password" property="password"/>
        <result column="dept_id" property="deptId"/>
        <result column="status" property="status"/>
        <result column="remark" property="remark"/>
        <result column="operator" property="operator"/>
        <result column="operate_time" property="operateTime"/>
        <result column="operate_ip" property="operateIp"/>
    </resultMap>

    <insert id="insert" parameterType="com.authority.model.db.SysUser"
            useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO sys_user (name, phone_no, mail, password, dept_id, status, remark, operator, operate_time, operate_ip)
        VALUES (#{name}, #{phoneNo}, #{mail}, #{password}, #{deptId} #{status}, #{remark}, #{operator}, #{operateTIme}, #{operateIp})
    </insert>
    <update id="update" parameterType="com.authority.model.db.SysAclModule">
        UPDATE sys_user SET
        <if test="name != null and name != ''">
            AND name = #{name}
        </if>
        <if test="phoneNo != null and phoneNo != ''">
            AND phone_no = #{phoneNo}
        </if>
        <if test="mail != null and mail != ''">
            AND mail = #{mail}
        </if>
        <if test="password != null and password != ''">
            AND password = #{password}
        </if>
        <if test="deptId != null and deptId > 0">
            AND dept_id = #{deptId}
        </if>
        <if test="status != null and status > 0">
            AND status = #{status}
        </if>
        <if test="remark != null and remark != ''">
            AND remark = #{remark}
        </if>
        <if test="operator != null and operator != ''">
            AND operator = #{operator}
        </if>
        <if test="operateTime != null">
            AND operate_time = #{operateTime}
        </if>
        <if test="operateIp != null and operateId != ''">
            AND operate_id = #{operateId}
        </if>
        WHERE id = #{id}
    </update>

    <delete id="deleteByIds" parameterType="java.util.List">
        DELETE FROM sys_user WHERE id IN
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <select id="findById" resultMap="sysUser">
        SELECT id, name, phone_no, mail, password, dept_id, status, remark, operator, operate_time, operate_ip
        FROM sys_user
        WHERE id = #{id}
    </select>

    <select id="findAll" resultMap="sysUser">
        SELECT id, name, phone_no, mail, password, dept_id, status, remark, operator, operate_time, operate_ip
        FROM sys_user
    </select>

    <select id="findByKeyword" resultMap="sysUser">
        SELECT id, name, phone_no, mail, password, dept_id, status, remark, operator, operate_time, operate_ip
        FROM sys_user
        WHERE phone_no = #{keyword}
        OR mail = #{keyword}
    </select>

    <select id="countByMail" resultType="java.lang.Integer" parameterType="map">
        SELECT COUNT(1)
        FROM sys_user
        WHERE mail = #{mail}
        <if test="id > 0">
            AND id != #{id}
        </if>
    </select>

    <select id="countByPhoneNo" resultType="java.lang.Integer" parameterType="map">
        SELECT COUNT(1)
        FROM sys_user
        WHERE phone_no = #{phoneNo}
        <if test="id > 0">
            AND id != #{id}
        </if>
    </select>
    <select id="countByDeptId" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM sys_user
        WHERE dept_id = #{deptId}
    </select>

    <select id="getPageByDeptId" resultMap="sysUser">
        SELECT id, name, phone_no, mail, password, dept_id, status, remark, operator, operate_time, operate_ip
        FROM sys_user
        WHERE dept_id = #{deptId}
        ORDER BY name ASC
        <if test="pageSize > 0">
            LIMIT #{start}, #{pageSize}
        </if>
    </select>

</mapper>